.speech
{color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.stage-direction
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    font-size: 15px;
}
.stage-direction:hover
{
    color: aliceblue;
    background-color: lime;
}
.name
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}
.ASCANIO
{
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px ;
   
    
    
}
.GUIDO
{
    color:hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    
}
.table {
    border: 2px solid black;
    border-style: dotted;
    border-color: blueviolet;
    text-align: center;
    margin: 6px;
    padding-left: 6px;
    width: 25%;
    border-collapse: collapse;

  }
  .ASCANIO:hover
  {
     color: aquamarine;
     background-color:lightsalmon ;
   filter: blur(1px);
   text-shadow: 3px 3px lightcoral;
  }
  .GUIDO:hover
  {
     color: yellowgreen;
     background-color:lightskyblue ;
     filter: blur(1px);
     text-shadow: 3px 3px rebeccapurple;
  }
  
  